.top-bar {
    min-width: 83%;    
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;

    position: absolute;
    right: 20px;
}
.top-bar img {
    width: 20px;
    height: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.account-dropdown {
    position: relative;
    display: inline-block;
}
.account-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.account-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.account-dropdown-content a:hover {
    background-color: #ddd;
}
.account-dropdown:hover .account-dropdown-content {
    display: block;
}
.account-dropdown:hover p {
    background-color: #ddd;
    cursor: pointer;
}
.status-ongoing {
    background-color: #FFDEBF;
    color: #FF7A00;
    padding: 5px;
    border-radius: 5px;
}
.status-completed {
    background-color: white;
    color: #32CD32;
    padding: 5px;
    border-radius: 5px;
}
.status-expired {
    background-color: white;
    color: red;
    padding: 5px;
    border-radius: 5px;
}